<app-header></app-header>
<section class="top-info animate__animated animate__fadeInDown">
  <h1>Attempted Riddles</h1>
</section>
<body>
  <h2>
    <b *ngIf="loadedSubscribedRiddles.length < 1">
      Looks like you are not subscribed to any riddles. Go to the explore page
      and find some Riddles!</b
    >
  </h2>

  <div class="row" id="top" *ngIf="loadedSubscribedRiddles.length > 0">
    <!-- <select name="cars" id="cars" aria-placeholder>
      <option>Sort By:</option>
      <option value="bynewest">Newest Posts</option>
      <option value="bylikes">Most likes</option>
    </select> -->
    <div class="col">
      <button type="button" class="btn btn-dark">View Created Riddles</button>
    </div>
  </div>

  <!-- <div class="levels-container" *ngIf="loadedSubscribedRiddles.length > 0">
    <div class="form-check">
      <h5>Easy</h5>
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1"></label>
    </div>
    <div class="form-check">
      <h5>Intermediate</h5>
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1"></label>
    </div>
    <div class="form-check">
      <h5>Difficult</h5>
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1"></label>
    </div>
  </div> -->
  <input
    [(ngModel)]="searchTerm"
    id="searchBar"
    placeholder="Search by Keyword"
  />

  <div class="row" id="riddles">
    <div
      class="col-xl-6"
      id="card-col"
      *ngFor="
        let riddle of loadedSubscribedRiddles | filter: searchTerm;
        let i = index
      "
    >
      <div class="progress-container">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 75%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          75%
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <h3><b> Title:</b> {{ riddle.title }}</h3>
            </h4>
            <p class="card-text">
              {{ riddle.riddledescription }}
            </p>
          </div>
          <img
            class="card-img-top"
            src="../../assets/images/stockLocation3.jpg"
            alt="Card image cap"
            height="200"
            *ngIf="i % 2 == 0"
          />

          <img
            class="card-img-top"
            src="../../assets/images/stockLocation2.jpg"
            alt="Card image cap"
            height="200"
            *ngIf="i % 2 != 0"
          />
          <br />
          <div class="forum-post-details">
            <h5>Levels: {{ riddle.levels.length }}</h5>
            <h5>Prize: {{ riddle.prize }}</h5>
            <h5><b> From Riddler:</b> {{ riddle.riddlername }}</h5>
            <button (click)="attemptRiddle(riddle.id)">Attempt Riddle</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div
    class="progress-container"
    *ngFor="let riddle of loadedSubscribedRiddles"
  >
    <h3><b> Title:</b> {{ riddle.title }}</h3>
    <h5><b> From Riddler:</b> {{ riddle.riddlername }}</h5>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 75%;"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        75%
      </div>
    </div>
    <br />
    <div class="posts-container">
      <div class="post-box">
        <img
          src="../../assets/images/stockLocation1.jpg"
          class="stockImage"
          height="200"
          width="200"
        />

        <h4>{{ riddle.riddledescription }}</h4>
      </div>
    </div>
    <br />
    <br />
    <hr />
    <hr />
  </div> -->

  <!--  TWO DROP DOWN LISTS FOR SEARCHES -->
  <!--  ADD FIRST DROP DOWN MENU HERE TO SELECT SCHOOL -->

  <br />
</body>
<footer>
  <!--  add footer here -->
</footer>
