#top.row {
  margin-top: 1%;
  margin-bottom: 3%;
}

#sort.row {
  margin: auto;
  width: 59%;
}
#sort.btn {
  background-color: #79777793;
  padding: auto;
  margin: auto;
  width: 30%;
}

#topriddles.row {
  margin: auto;
  margin-bottom: 3%;
  width: 50%;
  padding: 0;
}
.btn {
  height: 40px;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: auto;
  text-decoration: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}
#riddles.row {
  margin-bottom: 20%;
  margin-right: auto;
  margin-left: auto;
  width: 61%;
}

.card {
  height: 350px;
  box-shadow: 0px 0.2px 2px rgba(0, 0, 0, 0.8);
  margin-bottom: 5%;
}
.card-title {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1.6em;
}
.card-title > span {
  font-size: 0.5em;
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
}

.badge-success {
  background-color: rgb(20, 82, 20);
}

.badge-danger {
  background-color: rgb(128, 12, 12);
}

.col {
  margin: auto;
  justify-content: center;
}

.forum-post-details {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1%;
}
.card h5 {
  font-weight: bold;
}

#cards.col :hover {
  background-color: #fff;
  box-shadow: 0 0 3px 3px #fff;
}

/*search bar for posts*/
#searchBar {
  border-style: none;
  text-align: center;
  height: 45px;
  background-color: white;
  font-size: 1.3em;
  width: 59%;
  margin: auto;
  border-top-style: hidden;
  border: 0.5px solid;
  box-shadow: 0px 2.5px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 1.5%;
  padding-left: 1px;
  padding-right: 1px;
}

.dropdown {
  padding-bottom: 1%;
  margin: auto;
}
.card button {
  height: 40px;
  margin-top: 5%;
  border: none;
  background-color: #404040;
  color: #ffffff;
  width: 100%;
}

/*For posts*/
.list-group {
  line-height: 2;
}

.posts-container img {
  width: 70%;
  margin: auto;
}

.col-xl-4 {
  padding-left: 1%;
  padding-right: 1%;
}

.col {
  padding-bottom: 2%;
  width: 100%;
  padding: 0px;
}
/*Tablet size*/
@media (max-width: 990px) {
  #searchBar {
    width: 89%;
  }
  #riddles.row {
    width: 92%;
  }
  .card img {
    height: 55%;
  }
  .card {
    height: 400px;
  }
}
/*Phone size*/
@media (max-width: 640px) {
  #riddles.row {
    width: 95%;
  }
}
