<app-header></app-header>
<router-outlet></router-outlet>
<body>
  <button (click)="auth()" *ngIf="!isLoggedIn">Sign In/ Sign Up</button>

  <div class="row" id="top">
    <div class="col">
      <h1><b>Riddles</b></h1>
    </div>
    <div class="col">
      <button type="button" class="btn btn-dark" (click)="createRiddle()">
        Create Riddle
      </button>
    </div>
  </div>
  <!-- <h4>Newest Riddles:</h4>
<div class="row" id="topriddles">
  <div class="col" *ngFor="let riddle of newestThreeRiddles">
    <div
      class="card text-white bg-dark mb-3"
      style="max-width: 18rem;"
      role="button"
    >
      <div class="card-header">Prize: {{ riddle.prize }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ riddle.title }}</h5>
        <p class="card-text">
          {{ riddle.riddledescription }}
        </p>
      </div>
    </div>
  </div>
</div> -->
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ order }}
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        class="dropdown-item"
        role="button"
        (click)="sort('Difficulty (high - low)')"
        *ngIf="order != 'Difficulty (high - low)'"
        >Difficulty (high - low)</a
      >
      <a
        class="dropdown-item"
        role="button"
        (click)="sort('Difficulty (low - high)')"
        *ngIf="order != 'Difficulty (low - high)'"
        >Difficulty (low - high)</a
      >
      <a
        class="dropdown-item"
        role="button"
        (click)="sort('Newest')"
        *ngIf="order != 'Newest'"
        >Newest</a
      >
      <a
        class="dropdown-item"
        role="button"
        (click)="sort('Oldest')"
        *ngIf="order != 'Oldest'"
        >Oldest</a
      >
    </div>
  </div>
  <input
    id="searchBar"
    type="text"
    placeholder="Search by Keyword (School, Riddler, etc.)"
    aria-label="Search"
    [(ngModel)]="searchTerm"
  />

  <p *ngIf="loadedRiddles.length < 1">No Riddles available</p>
  <div class="row" id="riddles">
    <div
      class="col-xl-6"
      *ngFor="let riddle of loadedRiddles | filter: searchTerm; let odd = odd"
    >
      <div>
        <div class="col" id="cards">
          <div class="card" role="button" (click)="clickDetail(riddle.id)">
            <div class="card-body">
              <div class="card-title">
                {{ riddle.title }}
                <span
                  class="badge badge-pill badge-success"
                  *ngIf="riddle.difficulty == 1"
                  >Easy</span
                >
                <span
                  class="badge badge-pill badge-info"
                  *ngIf="riddle.difficulty == 2"
                  >Medium</span
                >
                <span
                  class="badge badge-pill badge-danger"
                  *ngIf="riddle.difficulty == 3"
                  >Hard</span
                >
              </div>
            </div>
            <img
              class="card-img-top"
              src="../../assets/images/stockLocation3.jpg"
              alt="Card image cap"
              height="130"
              *ngIf="odd"
            />
            <img
              class="card-img-top"
              src="../../assets/images/stockLocation2.jpg"
              alt="Card image cap"
              height="130"
              *ngIf="!odd"
            />
            <br />
            <p class="card-text">
              {{ riddle.riddledescription }}
            </p>
            <div class="forum-post-details">
              <h5>Levels:{{ riddle.levels.length }}</h5>
              <h5>Prize:{{ riddle.prize }}</h5>
            </div>
            <div class="card-footer text-muted">
              Posted {{ riddle.createdstring }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- <pages-footer></pages-footer> -->
