<br />
<br />
<br />
<br />
<br />
<br />

<section>
  <div class="container">
    <h1>Good Riddles Keep You Thinking</h1>
    <p class="lead text-muted">
      Before you embark on your riddle-making journey, consider reading over
      "What makes a good campus riddle?". This will help you create intriguing
      and ethical riddles.
    </p>
    <p>
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModalLong"
      >
        Show me the Document!
      </button>
      <a href="#" class="btn btn-secondary my-2">Take The Quiz</a>
    </p>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModalLong"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              What makes a good campus riddle?
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste
              facere nostrum tempora velit quia rem recusandae vitae magni ut
              eligendi, molestiae possimus, fugit dolores dolorem neque dolor
              aliquam earum, perspiciatis obcaecati sapiente. Maxime totam
              labore explicabo odit officia hic consequuntur.
            </p>
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
              reiciendis natus dolorem ipsam rem, cumque officia. Eum, vero
              voluptas fuga delectus inventore tenetur similique, ipsa nobis
              aperiam odit, dignissimos et? Optio aliquid neque, molestiae quod
              magnam minima consectetur adipisci? Quos!
            </p>
            <br />
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat
              deserunt nostrum voluptatum reiciendis aliquam amet esse harum,
              veritatis possimus qui, adipisci a rerum tempore laborum explicabo
              nemo, ducimus repellendus perferendis blanditiis? Rem eaque cum
              aspernatur tenetur delectus sunt et laudantium.
            </p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum
              velit, at explicabo animi, quae omnis dicta consequatur officiis
              ea facilis laborum voluptas natus eum nihil pariatur temporibus
              libero tempore necessitatibus consectetur itaque voluptatem,
              voluptates nulla! Deserunt totam veniam consequatur omnis.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="showPostSuccess" class="alert alert-success">
  <strong>Successfully posted your Riddle!</strong>
</div>

<!-- TODO: figure out how to override the justify-content-center so that its in the center but not limited with boundaries-->
<section class="row justify-content-center">
  <form
    #createRiddleForm="ngForm"
    (ngSubmit)="clickedCreateRiddle(createRiddleForm)"
  >
    <div class="form-group">
      <label for="exampleFormControlInput1">Name of your riddle:</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        name="riddleName"
        ngModel
        minlength="4"
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Location:</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        name="riddleLocation"
        ngModel
        minlength="3"
        required
      />
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlSelect1">How many levels?</label>
          <select
            class="form-control"
            id="exampleFormControlSelect1"
            name="levels"
            min="1"
            ngModel
            required
          >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Difficulty scale?</label>
          <select
            class="form-control"
            id="exampleFormControlSelect1"
            name="difficulty"
            min="1"
            ngModel
            required
          >
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1"
        >What prize will you be offering to the winner?</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        name="riddlePrize"
        ngModel
        minlength="2"
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"
        >Now give a quick description of your riddle.</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="riddleDescription"
        ngModel
        minlength="6"
        required
      ></textarea>
    </div>
    <br />
    <div class="submitButton">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!createRiddleForm.valid"
      >
        Create my Riddle
      </button>
      <br />
      <span class="validMessage" *ngIf="!createRiddleForm.valid"
        >Please fill in all fields</span
      >
    </div>
  </form>
</section>
<br />

<!-- this area below is for testing api connection-->
