/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,html {
    font: normal 1em Helvetica, sans-serif;
    background: #F2F2F2;
    margin:0;
    padding:0;
    text-align: center;
  }