/*checkboxes*/
.levels-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.levels-container h5 {
  color: #262626;
}

/*container for all progress sections*/
.progress-container {
  background-color: white;
  line-height: 2;
  width: 40%;
  margin: auto;
}

@media (max-width: 640px) {
}
