<body>
  <br />

  <br />
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col">
      <h1>Forums</h1>
    </div>
    <div class="col">
      <button type="button" class="btn btn-dark" (click)="clickedCreateTopic()">
        Create New Post
      </button>
    </div>
  </div>
  <input type="text" id="searchBar" placeholder="Search for Discussions" />

  <!-- <input type="text" placeholder="search here" id="searchBar" /> -->

  <p *ngIf="loadedCommunityForums.length < 1">No Forums available</p>

  <ul *ngIf="loadedCommunityForums.length >= 1">
    <li
      class="forum-post-box"
      id="forum"
      *ngFor="let forum of loadedCommunityForums"
      role="button"
      (click)="clickDetail(forum)"
    >
      <!-- <a href="/">{{ forum.title }}</a> <br /> -->
      <!-- <button (click)=""></button> -->
      <h3>{{ forum.title }}</h3>
      <br />
      <h5>
        {{ forum.content }}
      </h5>
      <br />
      <br />
      <div class="forum-post-details">
        <h6>1 hr ago - heyRun_X-check</h6>
        <h6>2 comments</h6>
        <!-- fix this button later  
        <div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
        -->

        <div class="btn-upvote btn_red">
          <span class="thumbsup"></span><a href="#">Helpful?</a><span></span>
        </div>
      </div>
    </li>
  </ul>
</body>
