#sortForumPosts {
  height: 50%;
  justify-content: center;
  margin: auto;
}
.dropdowns-container {
  display: flex;
  height: 5em;
  background: #404040;
  justify-content: space-evenly;
}
.dropdowns-container .btn-light {
  height: 50%;
  margin: auto;
  margin-top: 20px;
}

/*search bar for posts*/
#searchBar {
  font-size: 1.5em;
  text-align: center;
  background: white;
  height: 50px;
  width: 95%;
  margin: auto;
  border-top-style: hidden;
  border-style: solid;
  border-bottom: 1.5px solid black;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.8);
}

/*entire block that contains all the post*/
.posts-container {
  list-style: none;
  text-decoration: none;
  line-height: 1;
  text-align: center;
  background: white;
  width: 95%;
  margin: auto;
  border-radius: 0px 0px 3px 3px;
  border-top-style: hidden;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.8);
}
.posts-container a {
  text-decoration: none;
  color: black;
}

/*individual post block*/
.forum-post-box {
  padding: 3% 3% 1.5%;
  text-align: left;
  border-bottom: 0.5px solid gray;
}
.forum-post-box > a {
  font-size: 1.63em;
  font-weight: bold;
}
.forum-post-details {
  display: flex;
  justify-content: space-evenly;
}
.btn-upvote a {
  color: black;
}

@media (max-width: 640px) {
  .forum-post-details {
    justify-content: center;
  }
  .forum-post-details > h6,
  a {
    font-size: 12px;
  }
}
