<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Community</title>

</head>
<body>
	<br>
	<h1>Community Forums:</h1>
	<br>

    <div class="form-group1" id="dropdown-">
        <label for="exampleFormControlSelect1"></label> 
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Most Recent</option>
            <option>Most Replies</option>
            <option>Most Upvotes</option>
        </select>
    </div>
    
	<br>
	<br>
	<div class="md-form mt-0">
		<input class="form-control" type="text"
			placeholder="Search for discussion" aria-label="Search">
	</div>
	<div class="posts-container">
		<div class="forum-post-box" id="forum">
			<a href="forum-post.jsp">gUys.. help on riddle #5.</a> <br>
			<br>
			<h5>Guys Help!!! I do not understand what i need to do. Lets work together on this.</h5>
			<br>
			<div class="forum-post-details">
				<h6>1 hr ago - heyRun_X-check</h6>
				<h6>2 comments</h6>
				<!-- fix this button later  
				<div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
				-->
				<div class="btn-upvote btn_red">
					<span class="thumbsup"></span><a href="#">Helpful?</a><span></span>
				</div>
			</div>
		</div>
		<div class="forum-post-box" id="forum">
			<a href="forum-post.jsp">Some help for my takuaches.</a>
			<br>
			<br>
			<h5>Hey cuh, the picture at Hayden Library is part of another
				riddle at Noble Library.</h5>
			<br>
			<div class="forum-post-details">
				<h6>3 hr ago - laPerrona69</h6>
				<h6>2 comments</h6>
				<!-- fix this button later  
				<div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
				-->
				<div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
			</div>
		</div>

		<div class="forum-post-box" id="forum">
			<a href="forum-post.jsp">A hint for riddle #2</a>
			<br>
			<br>
			<h5>When you attempt to solve this part, make sure you have the Campus Riddles App downloaded.</h5>
			<br>
			<div class="forum-post-details">
				<h6>12 hr ago - messi_isGOAT</h6>
				<h6>21 comments</h6>
				<!-- fix this button later  
				<div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
				-->
				<div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
			</div>
		</div>

		
		<div class="forum-post-box" id="forum">
			<a href="forum-post.jsp">Riddle #3 information</a>
			<br>
			<br>
			<h5>When you attempt to solve this part, make sure you have the Campus Riddles App downloaded.</h5>
			<br>
			<div class="forum-post-details">
				<h6>12 hr ago - sundevil95</h6>
				<h6>21 comments</h6>
				<!-- fix this button later  
				<div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
				-->
				<div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
			</div>
		</div>

		<div class="forum-post-box" id="forum">
			<a href="forum-post.jsp">Guide for riddle 2</a> <br> <br>
			<h5>When you attempt to solve this part, make sure you have the
				Campus Riddles App downloaded.</h5>
			<br>
			<div class="forum-post-details">
				<h6>14 hr ago - king95</h6>
				<h6>21 comments</h6>
				<!-- fix this button later  
				<div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
				-->
				<div class="btn-upvote btn_red">
					<span class="thumbsup"></span><a href="#">Helpful?</a><span></span>
				</div>
			</div>
		</div>
		
		
		
		
		
		
	</div>

	<script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
<footer>
	
</footer>
</html>
