<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Community</title>
  </head>
  <body>
    <br />
    <h1>Community Forums:</h1>
    <br />

    <!--  ADD FIRST DROP DOWN MENU HERE TO SELECT SCHOOL -->
    <div class="dropdowns-container">
      <select id="sortForumPosts">
        <option value="upvotes">Most Upvotes</option>
        <option value="replies">Most Replies</option>
        <option value="recent" selected>Most Recent</option>
      </select>
      <button
        type="button"
        class="btn btn-light"
        data-toggle="modal"
        data-target="#exampleModalLong"
      >
        + New Topic
      </button>
    </div>
    <!--MODAL popup-->
    <div
      class="modal fade"
      id="exampleModalLong"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New Topic</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              #createTopicForm="ngForm"
              (ngSubmit)="clickedCreateTopic(createTopicForm)"
            >
              <div class="form-group row">
                <label for="inputTitle" class="col-sm-2 col-form-label"
                  >Title:</label
                >
                <div class="col-sm-10">
                  <input class="form-control" id="inputTitle" />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputContent" class="col-sm-2 col-form-label"
                  >Content:</label
                >
                <div class="col-sm-10">
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    name="topicContent"
                    ngModel
                    required
                  ></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputMedia" class="col-sm-2 col-form-label"
                  >Media Link:</label
                >
                <div class="col-sm-10">
                  <input class="form-control" id="inputMedia" />
                </div>
              </div>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">
                Post
              </button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal">
              Post
            </button>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />

    <br />
    <div class="md-form mt-0">
      <input
        class="form-control"
        id="searchBar"
        type="text"
        placeholder="Search for discussion"
        aria-label="Search"
      />
    </div>

    <p *ngIf="loadedCommunityForums.length < 1">No Forums available</p>
    <ul class="posts-container" *ngIf="loadedCommunityForums.length >= 1">
      <li
        class="forum-post-box"
        id="forum"
        *ngFor="let forum of loadedCommunityForums"
      >
        <a href="/">{{ forum.title }}</a> <br />
        <br />
        <h5>
          {{ forum.content }}
        </h5>
        <br />
        <div class="forum-post-details">
          <h6>1 hr ago - heyRun_X-check</h6>
          <h6>2 comments</h6>
          <!-- fix this button later  
			  <div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
			  -->
          <div class="btn-upvote btn_red">
            <span class="thumbsup"></span><a href="#">Helpful?</a><span></span>
          </div>
        </div>
      </li>
    </ul>
  </body>
  <footer></footer>
</html>
