<!-- login form -->
<div id="left-content"></div>
<div id="right-content">
  <h1>My Login Page</h1>
  <form class="input-form">
    <h2>Log In</h2>
    <!-- <img src="assets/images/avatar.png" class="avatar"> -->
     <br> 
    <input
      type="text" id="usernameTxt" name="usernameTxt" placeholder="Username">
    <br> 
    <input type="text"	id="passwordTxt" name="passwordTxt" placeholder="Password">
    
    <input type=button value='Enter'>
  </form>
  <br> <a href="#">Don't have an account?</a>
</div>