<app-header></app-header>
<p *ngIf="loadedCommunityForums.length < 1">No Forums available</p>
<ul *ngIf="loadedCommunityForums.length >= 1">
  <li *ngFor="let forum of loadedCommunityForums">
    <div class="forum-container">
      <div class="like-box">
        <img
          src="../../assets/images/icons/chevron-up.svg"
          alt=""
          role="button"
        />
        <h4>{{ forum.votecount }}</h4>
        <img
          src="../../assets/images/icons/chevron-down.svg"
          alt=""
          role="button"
        />
      </div>
      <div class="forum-post-box">
        <!-- <a href="/">{{ forum.title }}</a> <br /> -->
        <!-- <button (click)=""></button> -->
        <h3>{{ forum.title }}</h3>
        <br />
        <h5>
          {{ forum.content }}
        </h5>
        <br />
        <br />
        <div class="forum-post-details">
          <h6>{{ forum.created }}- {{ forum.hunter_username }}</h6>
          <h6>{{ forum.comments.length }} comments</h6>

          <!-- fix this button later  
        <div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
        --></div>
      </div>
    </div>
    <button (click)="clickCommentDialog()" *ngIf="!showCommentDialog">
      Reply
    </button>
    <form
      #commentForm="ngForm"
      (ngSubmit)="clickedAddComment(commentForm)"
      *ngIf="showCommentDialog"
    >
      <div class="form-group">
        <label for="exampleFormControlTextarea1"
          >Replying as <i>{{ username }}</i></label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="What are your thoughts?"
          name="text"
          ngModel
          minlength="3"
          required
        ></textarea>
        <button type="submit">Comment</button>
      </div>
    </form>
    <br />

    <p *ngIf="forum.comments.length < 1">No comments</p>
    <ul *ngIf="forum.comments.length >= 1">
      <li
        class="comment-box"
        id="comment"
        *ngFor="let comment of forum.comments"
      >
        <!-- <a href="/">{{ forum.title }}</a> <br /> -->
        <!-- <button (click)=""></button> -->
        <!-- <h3>{{ comment.text }}</h3> -->
        <br />
        <h5>
          {{ comment?.text }}
        </h5>
        <br />
        <div class="comment-details" id="comment-box">
          <!-- {{ forum.media }} -->
          <!-- fix this button later  
			  <div class="btn-upvote btn_red"><span class="thumbsup"></span><a href="#">Helpful?</a><span></span></div>
        -->
          <h6>{{ comment.created }} - {{ comment.hunter_username }}</h6>

          <div
            class="btn-upvote btn_red"
            role="button"
            (click)="clickUpvote(comment)"
          ></div>
        </div>
      </li>
    </ul>
  </li>
  <br />
</ul>
