<body>
  <div id="left-content"></div>
  <div id="right-content">
    <h1>Campus Riddles</h1>

    <!--SIGN IN-->
    <ng-template [ngIf]="isLoginMode">
      <form #authForm="ngForm" (ngSubmit)="onLoginClick(authForm)">
        <h2>{{ isLoginMode ? "Log in" : "Sign Up" }}</h2>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            ngModel
            required
            email
          />
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            ngModel
            required
            minlength="6"
          />
        </div>
        <div class="submitButton">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? "Log in" : "Next" }}
          </button>
          <br />
          <span class="validMessage" *ngIf="!authForm.valid"
            >Please provide valid email and password</span
          >
        </div>
      </form>
      <br />
    </ng-template>

    <!--SIGN UP-->
    <ng-template [ngIf]="!isLoginMode">
      <form #authForm="ngForm" (ngSubmit)="onSignUpClick(authForm)">
        <h2>{{ isLoginMode ? "Log in" : "Sign Up" }}</h2>
        <!--FIRST STEP SIGN UP-->
        <div class="form-group">
          <label for="email">School Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            ngModel
            required
            email
          />
        </div>
        <div class="form-group">
          <label for="username">Create Username:</label>
          <input
            class="form-control"
            name="username"
            placeholder="6+ characters"
            ngModel
            required
            minlength="6"
          />
        </div>

        <div class="form-group">
          <label for="password">Create Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="6+ characters"
            ngModel
            required
            minlength="6"
          />
        </div>

        <div class="submitButton">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? "Log in" : "Sign Up" }}
          </button>
          <br />
          <span class="validMessage" *ngIf="!authForm.valid"
            >Please provide valid Email, Username, and Password</span
          >
        </div>
      </form>
    </ng-template>
    <button class="switch-btn" (click)="onSwitchMode()" type="button">
      {{ !isLoginMode ? "Have an account? Log in" : "Dont have an account?" }}
    </button>
  </div>
</body>
