<app-header></app-header>
<div class="posts-container">
  <!--TEST DATA for a post-->
  <p *ngIf="loadedRiddles.length < 1">No Riddles available</p>

  <div class="card" *ngFor="let riddle of loadedRiddles">
    <div class="card-body">
      <h2 class="card-title">{{ riddle.title }} by {{ riddle.riddlername }}</h2>
    </div>
    <img
      class="card-img-top"
      src="../../assets/images/stockLocation3.jpg"
      alt="Card image cap"
      height="200"
    />
    <br />
    <p class="card-text">
      {{ riddle.riddledescription }}
    </p>

    <div class="row" id="details">
      <div class="col">
        <h5><b>Levels:</b>{{ riddle.levels.length }}</h5>
      </div>
      <div class="col">
        <h5><b>Difficulty: </b>{{ riddle.difficulty }}</h5>
      </div>
      <div class="col">
        <h5><b>Prize: </b>{{ riddle.prize }}</h5>
      </div>
    </div>

    <h3>{{ riddle.convert() }}</h3>

    <button class="btn btn-dark" (click)="attemptRiddle(riddle.id)">
      Attempt Riddle
    </button>

    <!-- <h2><b>Overview of Levels</b></h2>
    <br />
    <div *ngFor="let level of riddle.levels">
      <h3>Level: {{ level.levelnumber }}</h3>
      <h4>Question: {{ level.question }}</h4>
      <hr />
      <br />
    </div> -->
  </div>
</div>
