<div class="posts-container">
  <!--TEST DATA for a post-->
  <p *ngIf="loadedRiddles.length < 1">No Riddles available</p>
  <ul class="list-group" *ngIf="loadedRiddles.length >= 1">
    <li class="card-group" *ngFor="let riddle of loadedRiddles">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            {{ riddle.title }} by {{ riddle.riddlername }}
          </h2>
          <p class="card-text">
            {{ riddle.riddledescription }}
          </p>
        </div>
        <img
          class="card-img-top"
          src="../../assets/images/stockLocation3.jpg"
          alt="Card image cap"
          height="200"
        />

        <h5>Levels: {{ riddle.levels }}</h5>
        <h5>Difficulty: {{ riddle.difficulty }}</h5>
        <h5>Difficulty: {{ riddle.prize }}</h5>
        <button (click)="attemptRiddle()">Do it.</button>
        <br />
      </div>
    </li>
  </ul>
</div>
