<link href='https://fonts.googleapis.com/css?family=Bangers'
    rel='stylesheet'>
    

<div class="Header">



<nav class="navbar navbar-expand-lg navbar-light" id="my-nav">
	<a routerLink="/home" routerLinkActive="active" class="title">Campus Riddles</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a routerLink="/create-riddle-page" routerLinkActive="active" class="link">Create a Riddle</a>
    </li>
    <li class="nav-item">
      <a routerLink="/explore" routerLinkActive="active" class="link">Explore</a>
  </li>

      <li class="nav-item">
        <a routerLink="/community" routerLinkActive="active" class="link">Community</a> 
      </li>


    <li class="nav-item">
      <a routerLink="/my-riddles" routerLinkActive="active" class="link">My Riddles</a>
  </li>

	  			<li class="nav-item">
				<a routerLink="/profile" routerLinkActive="active" class="link"><img alt="profile"
					src="../../assets/images/avatar.png" width="20"></a> 
			  </li>
    </ul>

  </div>
</nav>












</div>
