.row {
  background-color: white;
  margin: auto;
  margin-top: 3%;
}

.form-group {
  background-color: white;
  margin-top: 3%;
  padding: 3%;
}

button:enabled {
  margin-top: 10%;
  height: 45px;
  background-color: #577590;
  color: white;
}

button:disabled {
  background: grey;
  border: 1px #577590 solid;
}
.submitButton .validMessage {
  visibility: hidden;
  color: red;
  font: normal 1em Helvetica, sans-serif;
}

.submitButton:hover .validMessage {
  visibility: visible;
}
